body {
    font-stretch:semi-expanded;
}

.funny-easteregg {
    color: white;
    animation-name: blend;
    animation-duration: 10s;
    animation-delay: 3s;
    animation-fill-mode: forwards;
}

@keyframes blend {
    from {color: white;}
    to {color: black;}
}

.big-button {
    color: #444;
    background-color: white;
    transition: .15s;
    box-shadow: none;
}

.big-button:hover {
    color: black;
    background-color: white;
    text-decoration: none;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15) !important;
}

.big-button:hover .youtube {
    color: red;
    transition: .15s;
}

.big-button:hover .twitter {
    color: #00acee;
    transition: .15s;
}

@media (min-width: 462px) { 
    .big-button:hover {
        margin-top: 0px;
    }
    .big-button {
        margin-top: 10px;
    }
 }