.funny-easteregg {
    color: white;
    animation-name: blend;
    animation-duration: 10s;
    animation-delay: 3s;
    animation-fill-mode: forwards;
}

@keyframes blend {
    from {color: white;}
    to {color: black;}
}

.big-button {
    color: #444;
    background-color: white;
    transition: .15s;
    box-shadow: none;
    margin-top: 5px;
}

.big-button:hover {
    margin-top: 0px;
    color: black;
    background-color: white;
    text-decoration: none;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15) !important;
}